<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Recipe Book{% endblock %}</title>
</head>

<body>
    <div class="header">
        {% if user.is_authenticated %}
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}

        <h1>Recipe Book</h1>
    </div>
    
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>