{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h3>Recipe:</h3>
    <form method="post">
        {% csrf_token %}
        {{ recipe_form.as_p }}
        <input type="submit" value="Add Recipe">
    </form>

    <h3>Ingredient:</h3>
    <form method="post">
        {% csrf_token %}
        {{ recipe_ingredient_form.as_p }}
        <input type="submit" value="Add Ingredient to Recipe">
        <button onclick="window.location.href='/recipe/add/new-ingredient'">Add New Ingredient</button> 
    </form>
    
    <p>
        <button onclick="window.location.href='/recipes/list'">Back to Home</button> 
    </p>
    
{% endblock %}
