{% extends 'base.html' %}
{% load static %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block content %}
    <h3>New Image for {{ recipe.name }}:</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ recipe_image_form.as_p }}
        <input type="submit" value="Add Image">
    </form>
    <br>
    <button onclick="window.location.href='{{ recipe.get_absolute_url }}'">Back to Recipe</button>
    <button onclick="window.location.href='/recipes/list'">Back to Home</button> 
{% endblock %}