{% extends 'base.html' %}
{% load static %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block content %}
    <h2>{{ recipe.name }}</h2>
    <p>
        <strong>Created by: {{ recipe.author }}</strong><br>
        <small><i>Created on: {{ recipe.created_on }} | Updated on: {{ recipe.updated_on }}</i></small><br>
    </p>

    {% if images %}
        {% for image in images %}
            <img src="{{ image.image.url }}" alt="{{ image.description }}"> <br>
        {% endfor%}
    {% endif %}

    {% if ingredients %}
        <h4>Ingredients:</h4>
        <ul>
            {% for ingredient in ingredients %}
            <li>{{ ingredient.ingredient.name }}: {{ ingredient.quantity }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    <button onclick="window.location.href='add_image'">Add New Image</button>
    <button onclick="window.location.href='/recipes/list'">Back to Home</button>
 {% endblock %}